---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section class="overflow-hidden">
    <div class="px-8 py-12 lg:pt-32">
      <div>
        <h1
          data-aos="fade-up"
          data-aos-duration="1500"
          class="text-balance text-3xl md:text-5xl lg:text-8xl 2xl:text-9xl font-light text-black">
          <span class="lg:block">{frontmatter.projectName}</span>
        </h1>
        <p
          data-aos="fade-up"
          data-aos-duration="2000"
          class="text-2xl text-gray-500">
          {frontmatter.address}
          —
          {frontmatter.price}
        </p>
      </div>
      <div class="relative">
        <img
          data-aos="zoom-out"
          data-aos-duration="1500"
          class="w-full h-[60vh] 2xl:h-[75vh] object-cover mt-12 relative"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
        />
        <a
          href="#details"
          class="absolute bg-white top-0 right-0 p-8 w-full md:max-w-xs flex items-center gap-2">
          <span> &darr; </span>
          <span> Learn more</span>
        </a>
      </div>
      <div
        class="divide-y space-y-40 scroll-mt-24"
        id="details">
        <div class="grid lg:grid-cols-3 pt-8">
          <div class="text-3xl font-light text-black">Details</div>
          <dl class="lg:col-span-2 divide-y border-y">
            {
              frontmatter.details.map((detail) => (
                <>
                  <div class="grid lg:grid-cols-3 py-2 2xl:text-lg">
                    <>
                      <dt class="text-black">{detail.key}</dt>
                      <dd class="text-gray-500 lg:col-span-2">
                        {detail.value}
                      </dd>
                    </>
                  </div>
                </>
              ))
            }
            {
              frontmatter.specs.map((specs) => (
                <>
                  <div class="grid lg:grid-cols-3 py-2 2xl:text-lg">
                    <>
                      <dt class="text-black">{specs.key}</dt>
                      <dd class="text-gray-500 lg:col-span-2">{specs.value}</dd>
                    </>
                  </div>
                </>
              ))
            }
          </dl>
        </div>
        <div class="grid lg:grid-cols-3 pt-8">
          <div class="text-3xl font-light text-black">About</div>
          <div class="lg:col-span-2">
            <div class="grid md:grid-cols-2 gap-8">
              {
                frontmatter.about.map((about) => (
                  <>
                    <div>
                      <>
                        <dd
                          data-aos="fade-up"
                          data-aos-duration="1000"
                          class="text-3xl font-light text-black">
                          {about.key}
                        </dd>
                        <dd
                          data-aos="fade-up"
                          data-aos-duration="1500"
                          class="mt-6 text-pretty text-gray-500 2xl:text-lg">
                          {about.value}
                        </dd>
                      </>
                    </div>
                  </>
                ))
              }
            </div>
            <div
              class="mt-8"
              data-aos="fade-up"
              data-aos-duration="2000">
              <div
                id="keen-slider"
                class="keen-slider">
                {
                  frontmatter.aboutImages.map((image) => (
                    <div class="keen-slider__slide overflow-hidden group">
                      <img
                        class="aspect-[4/3] group-hover:scale-110 transition-transform duration-500 object-cover object-center"
                        src={image.url}
                        alt={image.alt}
                      />
                    </div>
                  ))
                }
              </div>
            </div>
            <div class="mt-8 flex gap-4">
              <button
                aria-label="Previous slide"
                id="keen-slider-previous"
                class="transition text-black hover:text-gray-800 focus:text-gray-500">
                <svg
                  width="71"
                  height="16"
                  viewBox="0 0 71 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M69.0705 7C69.6228 7 70.0705 7.44772 70.0705 8C70.0705 8.55228 69.6228 9 69.0705 9V7ZM0.292901 8.70711C-0.0976234 8.31658 -0.0976234 7.68342 0.292901 7.29289L6.65686 0.928932C7.04739 0.538408 7.68055 0.538408 8.07108 0.928932C8.4616 1.31946 8.4616 1.95262 8.07108 2.34315L2.41422 8L8.07108 13.6569C8.4616 14.0474 8.4616 14.6805 8.07108 15.0711C7.68055 15.4616 7.04739 15.4616 6.65686 15.0711L0.292901 8.70711ZM69.0705 9H1.00001V7H69.0705V9Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
              <button
                aria-label="Next slide"
                id="keen-slider-next"
                class="transition text-black hover:text-gray-800 focus:text-gray-500">
                <svg
                  width="71"
                  height="16"
                  viewBox="0 0 71 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.996338 6.5C0.444053 6.5 -0.00366211 6.94772 -0.00366211 7.5C-0.00366211 8.05228 0.444053 8.5 0.996338 8.5V6.5ZM69.7739 8.20711C70.1645 7.81658 70.1645 7.18342 69.7739 6.79289L63.41 0.428932C63.0194 0.0384079 62.3863 0.0384079 61.9958 0.428932C61.6052 0.819456 61.6052 1.45262 61.9958 1.84315L67.6526 7.5L61.9958 13.1569C61.6052 13.5474 61.6052 14.1805 61.9958 14.5711C62.3863 14.9616 63.0194 14.9616 63.41 14.5711L69.7739 8.20711ZM0.996338 8.5H69.0668V6.5H0.996338V8.5Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="grid lg:grid-cols-3 pt-8">
          <div class="text-3xl font-light text-black">Surrounding</div>
          <div class="lg:col-span-2">
            <div class="text-3xl font-light text-black">The way of life.</div>
          </div>
          <div class="col-span-full mt-8">
            <div
              data-aos="zoom-in"
              data-aos-duration="1500"
              class="aspect-video">
              <video
                autoplay
                muted
                loop
                class="lg:w-full h-full">
                <source
                  src={frontmatter.video.url}
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
        <div class="grid lg:grid-cols-3 pt-8">
          <div class="text-3xl font-light text-black">Amenities</div>
          <div class="lg:col-span-2">
            {
              frontmatter.amenities.map((amenities) => (
                <>
                  <div class="grid  grid-cols-3 gap-8">
                    <>
                      <div class="lg:col-span-2">
                        <dt
                          data-aos="fade-up"
                          data-aos-duration="1000"
                          class="text-3xl font-light text-black">
                          {amenities.key}
                        </dt>
                        <dd
                          data-aos="fade-up"
                          data-aos-duration="1500"
                          class="mt-6 text-pretty text-gray-500 2xl:text-lg">
                          {amenities.value}
                        </dd>
                      </div>
                    </>
                  </div>
                </>
              ))
            }
            <div
              data-aos="fade-up"
              data-aos-duration="2500"
              class="grid grid-cols-3 gap-8 mt-8">
              {
                frontmatter.amenitiesImages.map((image) => (
                  <div class="group overflow-hidden">
                    <img
                      class="aspect-[4/3] group-hover:scale-110 transition-transform duration-500"
                      src={image.url}
                      alt={image.alt}
                    />
                  </div>
                ))
              }
            </div>
          </div>
        </div>
        <div class="grid lg:grid-cols-3 pt-8">
          <div class="text-3xl font-light text-black">Location</div>
          <div class="lg:col-span-2">
            {
              frontmatter.location.map((location) => (
                <>
                  <div class="grid  grid-cols-3 gap-8">
                    <>
                      <div class="lg:col-span-2">
                        <dt
                          data-aos="fade-up"
                          data-aos-duration="1000"
                          class="text-3xl font-light text-black">
                          {location.key}
                        </dt>
                        <dd
                          data-aos="fade-up"
                          data-aos-duration="1500"
                          class="mt-6 text-pretty text-gray-500 2xl:text-lg">
                          {location.value}
                        </dd>
                      </div>
                    </>
                  </div>
                </>
              ))
            }
            <div class="flex w-full pt-8 mt-8 border-t">
              <a
                href="/forms/bookings"
                type="submit"
                class="relative group overflow-hidden px-12 h-16 bg-black text-white w-auto">
                <div
                  aria-hidden="true"
                  class="transition duration-300 group-hover:-translate-y-16 w-full">
                  <div class="h-16 flex items-center justify-center">
                    <span>Book a visit</span>
                  </div>
                  <div class="h-16 flex items-center justify-center">
                    <span>Book a visit</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-span-full mt-8">
            <div class="h-full w-full grayscale">
              <iframe
                width="100%"
                height="100%"
                class="h-screen"
                src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Stockholm,%20Sweden&ie=UTF8&t=&z=14&iwloc=B&output=embed"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="module">
    import KeenSlider from "https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm";
    const keenSlider = new KeenSlider(
      "#keen-slider",
      {
        loop: true,
        slides: {
          origin: "center",
          perView: 1,
          spacing: 16,
        },
        breakpoints: {
          "(min-width: 1024px)": {
            slides: {
              origin: "auto",
              perView: 2,
              spacing: 40,
            },
          },
        },
      },
      []
    );
    const keenSliderPrevious = document.getElementById("keen-slider-previous");
    const keenSliderNext = document.getElementById("keen-slider-next");
    keenSliderPrevious.addEventListener("click", () => keenSlider.prev());
    keenSliderNext.addEventListener("click", () => keenSlider.next());
  </script>
</BaseLayout>
