---
const pageData = [
  {
    categoryTitle: "All pages",
    links: [
      {
        sectionTitle: "Landing Pages",
        links: [
          {
            title: "Landing Page One",
            url: "/",
            ariaLabel: "link to landing page one",
          },
          {
            title: "Landing Page Two",
            url: "/landingpages/index-two",
            ariaLabel: "link to landing page two",
          },
          {
            title: "Landing Page Three",
            url: "/landingpages/index-three",
            ariaLabel: "link to landing page three",
          },
          {
            title: "About",
            url: "/infopages/about",
            ariaLabel: "link to about page",
          },
          { title: "404", url: "/404", ariaLabel: "link to 404 page" },
        ],
      },
      {
        sectionTitle: "Pricing Pages",
        links: [
          {
            title: "Pricing Page One",
            url: "/pricingpages/pricing-one",
            ariaLabel: "link to pricing page one",
          },
          {
            title: "Pricing Page Two",
            url: "/pricingpages/pricing-two",
            ariaLabel: "link to pricing page two",
          },
          {
            title: "Pricing Page Three",
            url: "/pricingpages/pricing-three",
            ariaLabel: "link to pricing page three",
          },
        ],
      },
      {
        sectionTitle: "Forms ",
        links: [
          {
            title: "Contact",
            url: "/forms/contact",
            ariaLabel: "link to contact form",
          },
          {
            title: "Signin",
            url: "/forms/signin",
            ariaLabel: "link to signin form",
          },
          {
            title: "Sign up",
            url: "/forms/signup",
            ariaLabel: "link to signup form",
          },
          {
            title: "Forgot Password",
            url: "/forms/forgot",
            ariaLabel: "link to forgot password form",
          },
        ],
      },
      {
        sectionTitle: "All sections",
        links: [
          {
            title: "All feature sections",
            url: "/components/all-features",
            ariaLabel: "link to all feature sections",
          },
          {
            title: "All pricing",
            url: "/components/all-pricing",
            ariaLabel: "link to all pricing",
          },
        ],
      },
      {
        sectionTitle: "System Pages",
        links: [
          {
            title: "Style Guide",
            url: "/system/styleguide",
            ariaLabel: "link to style guide",
          },
          {
            title: "License",
            url: "https://lexingtonthemes.com/legal/license",
            ariaLabel: "link to license",
          },
          {
            title: "Docs",
            url: "https://lexingtonthemes.com/documentation",
            ariaLabel: "link to documentation",
          },
        ],
      },
    ],
  },
  {
    categoryTitle: "Content Collection",
    links: [
      {
        sectionTitle: "Blog Pages",
        links: [
          {
            title: "Blog home One",
            url: "/blog/blog",
            ariaLabel: "link to blog home one",
          },
          {
            title: "Blog home Two",
            url: "/blog/blog-two",
            ariaLabel: "link to blog home two",
          },
          {
            title: "Blog Post",
            url: "/posts/1",
            ariaLabel: "link to blog post",
          },
          { title: "Tag index", url: "/tags", ariaLabel: "link to tag index" },
          {
            title: "Tag slug",
            url: "/tags/e-commerce",
            ariaLabel: "link to tag slug",
          },
          { title: "RSS", url: "/rss.xml", ariaLabel: "link to RSS" },
        ],
      },
      {
        sectionTitle: "Help Center",
        links: [
          {
            title: "Home",
            url: "/helpcenter/home",
            ariaLabel: "link to help center home",
          },
          {
            title: "Details",
            url: "/helpcenter/1",
            ariaLabel: "link to help center details",
          },
        ],
      },
      {
        sectionTitle: "Utility Pages",
        links: [
          {
            title: "DPA",
            url: "/infopages/dpa",
            ariaLabel: "link to dpa",
          },
          {
            title: "Terms Of Use",
            url: "/infopages/terms",
            ariaLabel: "link to terms of use",
          },
          {
            title: "Privacy Policy",
            url: "/infopages/privacy",
            ariaLabel: "link to privacy policy",
          },
        ],
      },
      {
        sectionTitle: "Integrations",
        links: [
          {
            title: "Home",
            url: "/integrations/home",
            ariaLabel: "link to integrations home",
          },
          {
            title: "Details",
            url: "/integrations/1",
            ariaLabel: "link to integrations details",
          },
        ],
      },
      {
        sectionTitle: "Changelog",
        links: [
          {
            title: "Home",
            url: "/changelog/home",
            ariaLabel: "link to changelog home",
          },
          {
            title: "Details",
            url: "/changelog/1",
            ariaLabel: "link to changelog details",
          },
        ],
      },
      {
        sectionTitle: "Team",
        links: [
          {
            title: "Home",
            url: "/team/home",
            ariaLabel: "link to team home",
          },
          {
            title: "Details",
            url: "/team/1",
            ariaLabel: "link to team details",
          },
        ],
      },
      {
        sectionTitle: "Customers",
        links: [
          {
            title: "Home",
            url: "/customers/home",
            ariaLabel: "link to customers home",
          },
          {
            title: "Details",
            url: "/customers/1",
            ariaLabel: "link to customers details",
          },
        ],
      },
    ],
  },
];
---

<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <p
      class="text-4xl tracking-tight font-medium text-black md:text-6xl font-display">
      Overview
    </p>
    <div class="mt-12 space-y-12">
      {
        pageData.map((category) => (
          <>
            <p class="text-4xl tracking-tight font-medium text-black font-display">
              {category.categoryTitle}
            </p>
            <div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 mt-12">
              {category.links.map((section) => (
                <div class="flex flex-col gap-2 text-sm text-zinc-500">
                  <p class="text-black font-display text-xl">
                    {section.sectionTitle}
                  </p>
                  {section.links.map((link) => (
                    <a
                      class="hover:text-black"
                      title={link.ariaLabel}
                      href={link.url}>
                      {link.title}
                    </a>
                  ))}
                </div>
              ))}
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
