---
const navigation = [
  {
    link: {
      href: "https://lexingtonthemes.lemonsqueezy.com/buy/2817b597-5d1e-4d5b-a89a-b36bd23f128a",
      text: "Buy Quartiere",
    },
  },
  {
    link: { href: "/system/overview", text: "Overview" },
  },
  {
    link: { href: "/system/style-guide", text: "Style guide" },
  },
  {
    link: {
      href: "https://www.lexingtonthemes.com/documentation",
      text: "Documentation",
    },
  },
  {
    link: {
      href: "https://www.lexingtonthemes.com/legal/license",
      text: "License",
    },
  },
  {
    link: { href: "https://lexingtonthemes.com/", text: "More Themes" },
  },
  {
    link: { href: "https://twitter.com/lexingtonthemes", text: "Social Media" },
  },
];
const social = [
  {
    link: { href: "#_", text: "X" },
  },
  {
    link: { href: "#_", text: "Facebook" },
  },
  {
    link: { href: "#_", text: "Instagram" },
  },
  {
    link: { href: "#_", text: "Linkedin" },
  },
  {
    link: { href: "#_", text: "Youtube" },
  },
  {
    link: { href: "#_", text: "Tiktok" },
  },
];
const properties = [
  {
    link: { href: "/for-sale/home", text: "All properties for sale" },
  },
  {
    link: { href: "/for-sale/1", text: "Property for sale details" },
  },
  {
    link: { href: "/for-rent/home", text: "All properties for rent" },
  },
  {
    link: { href: "/for-rent/1", text: "Property for rent details" },
  },
];
---

<section>
  <div class="px-8 py-12 overflow-hidden">
    <div class="relative mt-8">
      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        class="inset-0 p-8 lg:p-20 items-center justify-center flex flex-col text-white bg-black">
        <svg
          data-aos="fade-up"
          data-aos-duration="2000"
          viewBox="0 0 1189 250"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2811_12)">
            <path
              d="M152.437 250.181H101.369V176.899H100.858C94.5601 192.219 82.3039 199.879 64.0898 199.879C52.3442 199.879 42.0882 196.986 33.3216 191.198C24.6401 185.325 17.8736 177.112 13.0222 166.558C8.25592 155.919 5.87277 143.45 5.87277 129.151C5.87277 115.363 8.34103 103.192 13.2776 92.6376C18.2141 82.0837 25.0231 73.8278 33.7046 67.8699C42.3861 61.912 52.3442 58.9331 63.5791 58.9331C80.6867 58.9331 93.2408 65.5718 101.241 78.8494H101.88V61.9971H152.437V250.181ZM79.2824 159.791C86.2616 159.791 91.9641 157.025 96.39 151.493C100.901 145.876 103.156 138.428 103.156 129.151C103.156 119.874 100.901 112.511 96.39 107.064C91.9641 101.532 86.2616 98.7657 79.2824 98.7657C72.3031 98.7657 66.8985 101.532 63.0684 107.064C59.3235 112.511 57.451 119.874 57.451 129.151C57.451 138.428 59.3235 145.876 63.0684 151.493C66.8985 157.025 72.3031 159.791 79.2824 159.791ZM219.846 199.879C204.866 199.879 193.546 195.113 185.886 185.581C178.226 176.048 174.396 163.196 174.396 147.025V61.9971H225.463V135.534C225.463 142.258 227.08 147.493 230.315 151.238C233.634 154.897 238.273 156.727 244.231 156.727C256.742 156.727 262.998 148.982 262.998 133.492V61.9971H314.065V196.815H263.636V174.346C259.125 182.091 253.338 188.304 246.273 192.985C239.209 197.581 230.4 199.879 219.846 199.879ZM377.389 199.241C363.856 199.241 352.792 195.964 344.195 189.411C335.684 182.857 331.428 172.899 331.428 159.536C331.428 149.493 333.726 141.45 338.322 135.407C342.919 129.279 349.132 124.725 356.962 121.746C364.792 118.767 373.559 116.98 383.262 116.384C395.178 115.618 403.604 114.384 408.54 112.682C413.477 110.979 415.945 108.298 415.945 104.639V104.128C415.945 101.149 414.541 98.8083 411.732 97.1061C409.008 95.3187 405.306 94.425 400.625 94.425C390.326 94.425 384.709 98.5104 383.773 106.681H337.046C338.152 91.361 344.195 79.5729 355.175 71.3169C366.154 63.061 381.985 58.9331 402.668 58.9331C423.52 58.9331 439.351 63.061 450.16 71.3169C461.055 79.5729 466.502 91.361 466.502 106.681V196.815H416.711V177.92H416.2C411.775 185.921 406.327 191.496 399.859 194.645C393.475 197.709 385.986 199.241 377.389 199.241ZM393.986 167.452C399.518 167.452 404.625 165.877 409.306 162.728C414.073 159.579 416.456 155.025 416.456 149.067V138.343C411.604 140.045 404.795 141.662 396.029 143.195C390.837 144.046 386.709 145.62 383.645 147.918C380.666 150.131 379.177 152.982 379.177 156.472C379.177 159.877 380.538 162.558 383.262 164.515C386.071 166.473 389.645 167.452 393.986 167.452ZM488.461 196.815V61.9971H537.997V86.5095H538.252C540.72 77.4025 544.55 71.0616 549.742 67.4869C554.934 63.827 562.169 61.9971 571.446 61.9971H584.213V102.851H565.573C557.572 102.851 551.232 105.49 546.55 110.767C541.869 116.044 539.529 123.193 539.529 132.215V196.815H488.461ZM696.561 61.9971V100.808H668.729V147.535C668.729 151.536 669.495 154.302 671.028 155.834C672.645 157.281 675.794 158.004 680.475 158.004H696.561V196.815H668.474C650.771 196.815 637.876 193.624 629.79 187.24C621.705 180.772 617.662 170.516 617.662 156.472V100.808H594.937V61.9971H617.662V25.2285H668.729V61.9971H696.561ZM712.648 196.815V61.9971H763.715V196.815H712.648ZM738.054 53.0603C730.053 53.0603 723.499 50.7623 718.393 46.1662C713.371 41.5701 710.86 35.6548 710.86 28.4202C710.86 21.2708 713.371 15.4405 718.393 10.9296C723.499 6.33349 730.053 4.03545 738.054 4.03545C746.054 4.03545 752.565 6.33349 757.587 10.9296C762.694 15.4405 765.247 21.2708 765.247 28.4202C765.247 35.6548 762.694 41.5701 757.587 46.1662C752.565 50.7623 746.054 53.0603 738.054 53.0603ZM852.19 199.879C838.231 199.879 825.847 196.901 815.038 190.943C804.229 184.9 795.76 176.559 789.632 165.92C783.589 155.28 780.567 143.109 780.567 129.406C780.567 115.618 783.589 103.447 789.632 92.893C795.675 82.2539 803.973 73.9554 814.527 67.9976C825.166 61.9546 837.38 58.9331 851.168 58.9331C864.957 58.9331 877.17 61.8694 887.809 67.7422C898.448 73.615 906.747 81.7432 912.705 92.127C918.748 102.511 921.769 114.469 921.769 128.002V141.662H830.103C830.273 148.812 832.486 154.387 836.742 158.387C840.997 162.387 846.828 164.388 854.232 164.388C859.68 164.388 864.318 163.366 868.148 161.323C872.063 159.281 874.702 156.43 876.064 152.77H921.258C919.641 161.962 915.599 170.09 909.13 177.154C902.661 184.219 894.491 189.794 884.618 193.879C874.83 197.879 864.02 199.879 852.19 199.879ZM830.486 113.065H874.659C873.808 107.532 871.468 103.234 867.638 100.17C863.808 97.0209 858.786 95.4464 852.573 95.4464C846.359 95.4464 841.338 97.0209 837.508 100.17C833.678 103.234 831.337 107.532 830.486 113.065ZM938.111 196.815V61.9971H987.646V86.5095H987.902C990.37 77.4025 994.2 71.0616 999.392 67.4869C1004.58 63.827 1011.82 61.9971 1021.1 61.9971H1033.86V102.851H1015.22C1007.22 102.851 1000.88 105.49 996.2 110.767C991.519 116.044 989.178 123.193 989.178 132.215V196.815H938.111ZM1113.4 199.879C1099.44 199.879 1087.06 196.901 1076.25 190.943C1065.44 184.9 1056.97 176.559 1050.84 165.92C1044.8 155.28 1041.78 143.109 1041.78 129.406C1041.78 115.618 1044.8 103.447 1050.84 92.893C1056.89 82.2539 1065.18 73.9554 1075.74 67.9976C1086.38 61.9546 1098.59 58.9331 1112.38 58.9331C1126.17 58.9331 1138.38 61.8694 1149.02 67.7422C1159.66 73.615 1167.96 81.7432 1173.92 92.127C1179.96 102.511 1182.98 114.469 1182.98 128.002V141.662H1091.31C1091.48 148.812 1093.7 154.387 1097.95 158.387C1102.21 162.387 1108.04 164.388 1115.44 164.388C1120.89 164.388 1125.53 163.366 1129.36 161.323C1133.27 159.281 1135.91 156.43 1137.27 152.77H1182.47C1180.85 161.962 1176.81 170.09 1170.34 177.154C1163.87 184.219 1155.7 189.794 1145.83 193.879C1136.04 197.879 1125.23 199.879 1113.4 199.879ZM1091.7 113.065H1135.87C1135.02 107.532 1132.68 103.234 1128.85 100.17C1125.02 97.0209 1120 95.4464 1113.78 95.4464C1107.57 95.4464 1102.55 97.0209 1098.72 100.17C1094.89 103.234 1092.55 107.532 1091.7 113.065Z"
              fill="currentColor"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0_2811_12">
              <rect
                width="1189"
                height="250"
                fill="white"
              ></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="pt-8 mt-8 border-t">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <div>
          <p class="text-3xl text-black">Navigation</p>
          <ul
            class="list-none text-gray-500 mt-8 text-base gap-1 list-inside flex flex-col">
            {
              navigation.map((navigation) => (
                <>
                  <li>
                    <a
                      href={navigation.link.href}
                      class="hover:text-black text-gray-500 mt-auto flex gap-3 items-center justify-between">
                      {navigation.link.text}
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </div>
        <div>
          <p class="text-3xl text-black">Social Media</p>
          <ul
            class="list-none text-gray-500 mt-8 text-base gap-1 list-inside flex flex-col">
            {
              social.map((social) => (
                <>
                  <li>
                    <a
                      href={social.link.href}
                      class="hover:text-black text-gray-500 mt-auto flex gap-3 items-center justify-between">
                      {social.link.text}
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </div>
        <div>
          <p class="text-3xl text-black">Properties</p>
          <ul
            class="list-none text-gray-500 mt-8 text-base gap-1 list-inside flex flex-col">
            {
              properties.map((properties) => (
                <>
                  <li>
                    <a
                      href={properties.link.href}
                      class="hover:text-black text-gray-500 mt-auto flex gap-3 items-center justify-between">
                      {properties.link.text}
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-8 pt-8 border-t space-y-2">
      <span class="text-sm text-black">
        Copyright © 2006-2024 Quartiere's International Realty LLC. All Rights
        Reserved.
      </span>
    </div>
  </div>
</section>
