---
const { title, url, description, pubDate, image } = Astro.props;
---

<li class="group">
  <a
    href={url}
    title={title}>
    <div
      class="p-4 bg-chalk border hover:shadow-none flex flex-col justify-between gap-8 duration-200 rounded-2 h-full rounded-3xl">
      <div class="px-4 pt-4">
        <p >
          <time
            class="text-xs text-zinc-500"
            datetime={pubDate}
            >{pubDate}</time
          >
        </p>
        <h3 class="mt-5 text-base font-medium leading-6 text-black">
          {title}
        </h3>
        <p class="mt-2 text-base text-zinc-500 line-clamp-2">
          {description}
        </p>
      </div>
      <div class="flex items-end justify-center overflow-hidden">
        <div class="flex">
          <img
            class="aspect-square w-full rounded-lg lg:rounded-xl bg-white object-cover"
            loading="lazy"
            src={image}
            alt={title}
          />
        </div>
      </div>
    </div>
  </a>
</li>
