---
const { title, url, price, type, thumbnail } = Astro.props;
---

<div class="group relative bg-white overflow-hidden group rounded-xl font-mono">
  <div
    class="aspect-[4/4] p-20 overflow-hidden group-hover:opacity-75 duration-300 transition-all">
    <img
      alt={title}
      src={thumbnail}
      class="object-cover object-center"
    />
  </div>
  <div class="p-4 text-sm text-neutral-500">
    <div class="flex items-center justify-between space-x-8">
      <h3>
        <a
          href={url}
          title={title}
          aria-label={title}>
          <span
            aria-hidden="true"
            class="absolute inset-0"
          ></span>
          {title}
        </a>
      </h3>
      <p class="absolute top-4 right-4">{price}</p>
      <p class="mt-1">{type}</p>
    </div>
  </div>
</div>
